<a href="https://colab.research.google.com/github/Rizuuuhhh/CPEN-21A-ECE-2-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [1]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##Break Statement

In [14]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
 if x =="Thursday":
  break 
print(x)

Thursday

##Looping through String

In [21]:
for x in "Monday":
  print(x)

M
o
n
d
a
y

##The range() function

In [22]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [23]:
for x in range(2,6):
  print(x)

2
3
4
5

In [24]:
for x in range(2,7):
  print(x)

2
3
4
5
6

##Nested Loops

In [25]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##Python While Loops

In [27]:
i = 1
while i < 6:
  print(i)
  i +=1 #Assignment operator for addition

1
2
3
4
5

##The Break Statement

In [43]:
i = 0

while i<6:
  print(i)
  if i==3:
    break
  i+=1

0
1
2
3

##The Else Statement

In [38]:
i = 1
while i<6:
  print(i)
  i+=1

else:
  print("i is no longer than 6")

1
2
3
4
5
i is no longer than 6

##Application 1

In [ ]:
#Create a Python Program that displays Hello 0 to Hello 10 vertically

In [39]:
hello =["Hello 0","Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10"]
for x in hello:
  print(x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

##Application 2

In [ ]:
#Create a Python Program that displays integers less than 10 but not less than 3

In [42]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9